!!!5
//if lt IE 7
  |<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  |<html class="no-js lt-ie9 lt-ie8">
//if IE 8
  |<html class="no-js lt-ie9">
//if gt IE 8
  |<!--><html class="no-js"><!--
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title #{title}
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  block css
    link(rel='stylesheet', media='screen', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/main.css')
  body
    .container
      .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
        #header
          h1 Julian Horvat
          h4: ul.list-inline
            li: a(href="../index.html") Home
            li: a(href="../about.html") About
            li: a(href="mailto://test@example.com") Contact
        #post
          hr
          h2 #{title}
          small.text-muted #{date}
          hr
        != yield

    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
